@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.app{
    background:url(images/background-1.jpg) repeat-y center center fixed;
    -webkit-background-size: cover ;
    -moz-background-size: cover ;
    -o-background-size: cover ;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@media screen and (max-width:650px){
  .app{
    background-repeat: repeat-y;
    height:100%;
  }
}
