.main {
  color: white;
  width: 70vw;
  margin: auto;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__date {
  margin: 1rem 0;
  padding: 12px;
  border: 2px solid white;
  border-radius: 30px;
}
.main__date:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main__title {
  margin: 1rem 0;
  font-size: 3rem;
}

.main__info {
  font-size: 1rem;
  margin: 1rem 0;
}

@media screen and (max-width: 900px) {
  .main {
    padding-top: 1rem;
  }

  .main__date {
    font-size: 0.6rem;
    margin: 1rem 0;
    padding: 6px;
  }

  .main__title {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .main__info {
    font-size: 1rem;
    margin: 0.75rem 0;
  }
}
