.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  position: relative;
}
.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #0b81ff !important;
  height:6vh;
  display: flex;
  align-items: center;
}

.message__guestCard {
  background-color: #e9e9eb !important;
  height:6vh;
  display: flex;
  align-items: center;
}

.message__userName{
  color:grey;
  margin-bottom: 2em;
  padding-bottom: 20px;
  font-size:.75em;
  position:absolute;
  left:10px;
}
